nav {
  width: 100%;
  /* background: #0d121a; */
  color: #fff;
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px 20px;
  font-size: 16px;
}